# Introduction to Big Data Modern Technologies course

## TOPIC 1: Relational databases practice - explore Jupyter users' activities
### Part 2

### 1. Libraries

In [ ]:
%load_ext sql

In [ ]:
import os
import sys

### 2. Create database and tables

#### 2.1. Create database

You may need a [PostgreSQL manual](https://www.postgresql.org/docs/current/sql-createdatabase.html) to create a table and read about [data types](https://www.postgresql.org/docs/current/datatype.html)

In [ ]:
%%sql postgresql:///jovyan
    SELECT * FROM pg_database

In [ ]:
!ls

In [ ]:
!psql -c 'create database test;'

In [ ]:
%%sql postgresql:///test
    SELECT tablename AS table FROM pg_tables WHERE tablename !~ '^(pg_|sql_)'

#### 2.2. Create tables

Our data sample:

| login | name | email |
| --- | --- | --- |
| st070392 | Jennifer Brown | st070392@gsom.spbu.ru |

In [ ]:
%%sql postgresql:///test
    CREATE TABLE users (
        login varchar(32) NOT NULL, 
        name varchar(128), 
        email varchar(128)
    );

In [ ]:
!ls -la

In [ ]:
!pwd

In [ ]:
path_to_file = '/home/jovyan/ibdt_course_miba_24/topic_1/users.csv'

In [ ]:
%%sql postgresql:///test
    COPY users FROM '/home/jovyan/ibdt_course_miba_24/topic_1/users.csv' DELIMITER ';' CSV HEADER

In [ ]:
%%sql postgresql:///test
    SELECT * FROM users LIMIT 5

#### 2.3. Create everything like a pro

Feel like a data engineer

In [ ]:
!psql -l

Use `psql` client https://www.postgresql.org/docs/current/app-psql.html

In [ ]:
!psql -c 'create database jhub;'

##### Users

In [ ]:
!psql -d jhub -c 'CREATE TABLE users (login varchar(32) NOT NULL, name varchar(128), email varchar(128));'

In [ ]:
%%sql postgresql:///jhub
    SELECT tablename AS table FROM pg_tables WHERE tablename !~ '^(pg_|sql_)'

In [ ]:
!psql -d jhub \
    -c "COPY users FROM '/home/jovyan/ibdt_course_miba_24/topic_1/users.csv' \
    DELIMITER ';' CSV HEADER"

In [ ]:
!psql -d jhub -c 'SELECT * FROM users LIMIT 5;'

##### Instances

### <font color='red'>HOME ASSIGNMENT</font>

##### Events

### <font color='red'>HOME ASSIGNMENT</font>

##### Logs

| idx | timestamp | hub | event_code | event_type | log | user |
| --- | --- | --- | --- | --- | --- | --- |
| 0 | 2022-11-09 06:06:00.909 | hub-5bb9b9c56c-s958d | 43 | login | logged out | st070392 |

In [ ]:
!psql -d jhub -c 'DROP TABLE logs'

In [ ]:
!psql -d jhub -c 'CREATE TABLE logs ( \
    idx bigint primary key, \
    timestamp timestamp, \
    hub varchar(20), \
    event_code bigint, \
    event_type varchar(32), \
    log varchar(512), \
    login varchar(32) \
);'

In [ ]:
!psql -d jhub \
    -c "COPY logs FROM '/home/jovyan/ibdt_course_miba_24/topic_1/logs.csv' \
    DELIMITER ';' CSV HEADER"

In [ ]:
!psql -d jhub -c 'SELECT * FROM logs LIMIT 5;'

### 3. Test our database

In [ ]:
!psql

In [ ]:
%%sql postgresql:///jhub
    SELECT ls.idx, ls.timestamp, ls.event_code, us.login, us.name, us.email, ls.log FROM logs AS ls
    LEFT JOIN users AS us ON ls.login = us.login
    LIMIT 5;

In [ ]:
%%sql postgresql:///jhub
    SELECT * FROM logs AS ls
    LEFT JOIN users AS us ON ls.login = us.login
    WHERE us.email = 'vgarshin@gsom.spbu.ru'
    LIMIT 5;

### 4. Home assignment

Your home assignment for this part is:
1. Based on Python data processing script from part 1 and file with data on logs `~/__DATA/IBDT_Spring_2023/topic_1/jhub_logs_large.csv` make a full pipeline Bash script
2. Draw a logical scheme of your database (with Word, Excel, PowerPoint, pen and paper...)
3. Answer a questions below with use of SQL

Questions to answer with SQL queries to database:
- how many times jhub restarted (HINT - find all unique hub names, each name is for new instance when it restarts)
- how many users are in Jupyter?
- sort all types of events from more often to less often
- find users (name, email) with more and less activity in the Jupyter (HINT - more logs means more activity)